#hora {
color: black;
aling: right;
}

#topo {
margin: 5px;
height: 80px;
padding: 10px;
background: white;
}

#esquerda {
display:none;
}

#meio {
aling: center;
width:90%
}

#direita {
display:none;
}

.textopequeno {
font-family: verdana;
color: blue;
font-size: x-small;
}

.textodestaque {
font-family: times;
color: black;
font-size: medium;
}

h4 {
font-family: verdana;
color: black;
}

.textolegenda {
font-family: verdana;
color: black;
font-size: xx-small;
}

.textologo {
font-family: verdana;
color: black;
font-size: x-large;
}

P {
margin:5px; 
margin-left:0; 
} 


INPUT {
	BORDER-RIGHT: #eff0e6 1px solid; 
	BORDER-TOP: #61615d 1px solid; 
	PADDING-LEFT: 1px; 
	BACKGROUND: #ffffff; 
	FONT: 11px tahoma; 
	BORDER-LEFT: #61615d 1px solid; 
	COLOR: #333333; 
	BORDER-BOTTOM: #eff0e6 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #eff0e6 1px solid; 
	BORDER-TOP: #61615d 1px solid; 
	PADDING-LEFT: 1px; 
	BACKGROUND: #ffffff; 
	FONT: 11px tahoma; 
	BORDER-LEFT: #61615d 1px solid; 
	COLOR: #333333; 
	BORDER-BOTTOM: #eff0e6 1px solid
}
SELECT {
	BORDER-RIGHT: #eff0e6 1px solid; 
	BORDER-TOP: #61615d 1px solid; 
	PADDING-LEFT: 1px; 
	BACKGROUND: #ffffff; 
	FONT: 11px tahoma; 
	BORDER-LEFT: #61615d 1px solid; 
	COLOR: #333333; 
	BORDER-BOTTOM: #eff0e6 1px solid
}
OPTION {
	BORDER-RIGHT: #eff0e6 1px solid; 
	BORDER-TOP: #61615d 1px solid; 
	PADDING-LEFT: 3px; 
	BACKGROUND: #ffffff; 
	FONT: 11px tahoma; 
	BORDER-LEFT: #61615d 3px solid; 
	COLOR: #333333; 
	BORDER-BOTTOM: #eff0e6 3px solid
}
INPUT.botao {
display:none;
}
.botao {
display:none;
}

