#hora {
display:none;
visibility:hidden
}

#topo {
margin: 5px;
height: 80px;
padding: 5px;
background: #CCCCFF;
}



#direita {
position: absolute;
top: 105px;
right: 10px;
width: 200px;
padding: 5px;
background: #FFFF99;
}

.textopequeno {
font-family: verdana;
color: blue;
font-size: x-small;
}

.textodestaque {
font-family: verdana;
color: black;
font-size: x-small;
}

h4 {
font-family: verdana;
color: black;
}

.textolegenda {
font-family: verdana;
color: black;
font-size: xx-small;
}

.textologo {
font-family: verdana;
color: black;
font-size: x-large;
}

P {
margin: 5 pixels; 
margin-left: 0; 
} 
