#_VReportHeader {position:absolute;top: 0; right:10px;}#_VReportFooter {}#_VReportContent{}#_VReportContentClient{}thead { display:table-header-group;margin:0;padding:0;}tfoot {display: table-footer-group;margin:0;padding:0;}