#_VReportHeader { position:fixed; top: 0; margin:0;padding:0;right:2px;}#_VReportFooter { position:fixed; bottom: 0;}#_VReportContent{margin:0;padding:0;}#_VReportContentClient{margin:0;padding:0;}thead {display:table-header-group;}tfoot {display: table-footer-group;}