@font-face {
    font-family: principal;
    src: url(fontes/zrnic.eot);
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
 form, label, legend,
table, caption, tbody, tfoot, thead {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	text-align: center;
}

:focus {
	outline: 0;
}
body {
	 font-size: 12px; line-height:15px; color: black; background: white;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: separate; border-spacing: 0;
}
caption, th, td {
	text-align: center;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

strong { font-weight: bold !important; }
