*{
		font-family:Arial, Helvetica, sans-serif;
		font-size:15px;
}
input,textarea{
	border: solid 1px #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
}	
fieldset{
			background-color:#FFF;
			border:solid 1px #CCCCCC;
	
}
body{
		background-color:#F5F5F5;
}

a:link, a:visited, a:active, a:hover {text-decoration: none;}

a:visited{color:#333;}

table{
		border:none;
		
	}

	.box_senha{
		background:url(img/bg-w43.png) repeat;
		border-bottom:1px solid #999;
		
	}
	.bt-controle-ini{
		border:none;
		width:100%;
		border-top:1px solid #999;	
		border-left:1px solid #999;
	}
	.bt-controle-ini:hover{
		
		cursor:pointer;
		
	}
	.bar_end {
		bottom:0;background:#fff; position:fixed; width:100%; height:40px; border-top:solid 1px #999; border-bottom:solid 1px #ccc;	
	}
	
	.bar_end td{
		font-size:10px;	
	}
	
	.bar_end table{
		
		width:100%;	
	}

.message{
	width:80%;
	margin:auto;
	margin-top:10px;
	
}

.assunto{
	width:100%;
	height:25px;	
	background:#ccc;
	line-height:25px;
	padding-left:5px;
	padding-right:5px;
	border:1px solid #CCC;	
}
.texto{
	width: 100%;
	padding: 5px;
	border: 1px solid #CCC;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	
	
}
.barPtos{
	
	position:fixed;	
	width:100%; height:25px;
	border:1px solid #CCC;
	line-height:25px;
	padding-left:25px;
	border-left:none;
	
}
.geral {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	text-align: left;
}
.geralDireito {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	text-align: right;
}
