body,td,th {
	font-size: 10px;
	font-family: Verdana, Geneva, sans-serif;
}

/* unvisited link */
a:link {
	color: #000;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: #000;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: #666;
	text-decoration: none;
}

/* selected link */
a:active {
	color: #000;
	text-decoration: none;
}.bloqueado {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #F00;
}
.Alerta {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #00F;
}
