	td.cal{
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #000000;
	  background-color : #d3d3d3;
	}
	select.month{
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #000000;
	  width : 85px;
	}
	td.calDaysColor {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #ffffff;
	  background-color : #000000;
	}
	td.calWeekend {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #ffffff;
	  background-color : #c0c0c0;
	}
	td.calBgColor {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #ffffff;
	  background-color : #d3d3d3;
	}
	.calBorderColor {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #ffffff;
	  background-color : #a9a9a9;
	}
	td.calHighlightColor {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #ffffff;
	  background-color : #ffffcc;
	}
	A.cal {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #000000;
	  text-decoration : none;
	}  
	A.cal:Hover {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #FF0000;
	  text-decoration : none;
	} 
	.disabled {
	  font-family : Arial,Helvetica,Sans-serif;
	  font-size : 11px;
	  color : #808080;
	  text-decoration : none;
	}  