#spacer1 {
	HEIGHT: 3px
}
#spacer2 {
	HEIGHT: 10px
}
.bg_tb_prod {
	BACKGROUND: #c6d1d5
}
.container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
.titulo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(images/.jpg) #2d4e71 no-repeat; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.item_menu_top {
	BORDER-RIGHT: #2d4e71 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #2d4e71 1px solid; PADDING-LEFT: 25px; FONT-SIZE: 11px; BACKGROUND: url(images/seta.gif) #c6d1d5 no-repeat 5px 50%; PADDING-BOTTOM: 0px; BORDER-LEFT: #2d4e71 1px solid; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: #2d4e71 1px solid
}
.grupo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(images/jg_menu_top.gif); PADDING-BOTTOM: 0px; COLOR: #333333; PADDING-TOP: 2px; FONT-FAMILY: tahoma, verdanaarial,; HEIGHT: 20px
}
.grupoover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; CURSOR: pointer; COLOR: #f66013; PADDING-TOP: 0px; FONT-FAMILY: tahoma, verdanaarial, ; HEIGHT: auto
}
.grupodown {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/jg_menu_top.gif); PADDING-BOTTOM: 0px; CURSOR: pointer; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: tahoma, verdanaarial,; HEIGHT: 20px
}
.produto {
	PADDING-RIGHT: 3px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/jg_tit1.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.promocao {
	PADDING-RIGHT: 3px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/jg_tit1.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.detalhe {
	PADDING-RIGHT: 3px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/jg_tit1.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.produto2 {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 3px; BACKGROUND: #fafafa; PADDING-BOTTOM: 1px; FONT: bold 11px tahoma; BORDER-LEFT: #aaaaaa 1px solid; COLOR: #f66013; PADDING-TOP: 1px; BORDER-BOTTOM: #aaaaaa 1px solid; TEXT-ALIGN: center
}
.lancamento {
	PADDING-RIGHT: 0px; BORDER-TOP: #000000 0px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(images/produto.jpg) #ffffff no-repeat 50% bottom; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 0px solid; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 0px solid
}
.categoria {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: tahoma, arial, verdana; BACKGROUND-COLOR: #ffffff
}
.categoriaover {
	BORDER-RIGHT: #fccfb8 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fccfb8 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #fccfb8 1px solid; CURSOR: pointer; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #fccfb8 1px solid; FONT-FAMILY: tahoma, arial, verdana; BACKGROUND-COLOR: #fef7f3
}
.categoriadown {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 1px solid; CURSOR: pointer; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: tahoma, arial, verdana; BACKGROUND-COLOR: #fef7f3
}
.space {
	HEIGHT: 2px; BACKGROUND-COLOR: #808080
}
.spacebottom {
	HEIGHT: 5px; BACKGROUND-COLOR: #c6d1d5
}
A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #006699; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif}
A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #f66013; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif}
BODY {
	SCROLLBAR-FACE-COLOR: #ffffff; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; COLOR: #111111; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #f66013; SCROLLBAR-TRACK-COLOR: #e6e6e6; FONT-FAMILY: Tahoma, Arial,  Verdana,Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #cccccc; SCROLLBAR-BASE-COLOR: #e6e6e6
}
TD {
	SCROLLBAR-FACE-COLOR: #ffffff;
	FONT-SIZE: 11px;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	COLOR: #111111;
	SCROLLBAR-3DLIGHT-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: #f66013;
	SCROLLBAR-TRACK-COLOR: #e6e6e6;
	FONT-FAMILY: Tahoma, Arial,  Verdana,Helvetica, sans-serif;
	SCROLLBAR-DARKSHADOW-COLOR: #cccccc;
	SCROLLBAR-BASE-COLOR: #e6e6e6;

}
FONT {
	SCROLLBAR-FACE-COLOR: #ffffff; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; COLOR: #111111; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #f66013; SCROLLBAR-TRACK-COLOR: #e6e6e6; FONT-FAMILY: Tahoma, Arial,  Verdana,Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #cccccc; SCROLLBAR-BASE-COLOR: #e6e6e6
}
INPUT {
	BORDER-RIGHT: #eff0e6 1px solid; BORDER-TOP: #61615d 1px solid; PADDING-LEFT: 2px; BACKGROUND: #ffffff; FONT: 11px tahoma; BORDER-LEFT: #61615d 1px solid; COLOR: #333333; BORDER-BOTTOM: #eff0e6 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #eff0e6 1px solid; BORDER-TOP: #61615d 1px solid; PADDING-LEFT: 2px; BACKGROUND: #ffffff; FONT: 11px tahoma; BORDER-LEFT: #61615d 1px solid; COLOR: #333333; BORDER-BOTTOM: #eff0e6 1px solid
}
SELECT {
	BORDER-RIGHT: #eff0e6 1px solid; BORDER-TOP: #61615d 1px solid; PADDING-LEFT: 2px; BACKGROUND: #ffffff; FONT: 11px tahoma; BORDER-LEFT: #61615d 1px solid; COLOR: #333333; BORDER-BOTTOM: #eff0e6 1px solid
}
OPTION {
	BORDER-RIGHT: #eff0e6 1px solid; BORDER-TOP: #61615d 1px solid; PADDING-LEFT: 2px; BACKGROUND: #ffffff; FONT: 11px tahoma; BORDER-LEFT: #61615d 1px solid; COLOR: #333333; BORDER-BOTTOM: #eff0e6 1px solid
}
INPUT.botao {
	BORDER-RIGHT: thin none #b0b0b0; BORDER-TOP: thin none #e3e3e3; BACKGROUND: #dddddd; FONT: bold 11px tahoma; BORDER-LEFT: thin none #e3e3e3; WIDTH: auto; CURSOR: pointer; COLOR: #333333; BORDER-BOTTOM: thin none #b0b0b0
}
.botao {
	BORDER-RIGHT: #b0b0b0 1px solid; BORDER-TOP: #e3e3e3 1px solid; BACKGROUND: #dddddd; FONT: bold 11px tahoma; BORDER-LEFT: #e3e3e3 1px solid; WIDTH: auto; CURSOR: pointer; COLOR: #333333; BORDER-BOTTOM: #b0b0b0 1px solid
}
.empty {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: transparent
}
.tabelaz {
	BORDER-RIGHT: #d8d8d8 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #d8d8d8 1px solid; PADDING-LEFT: 3px; BACKGROUND: #fafafa; PADDING-BOTTOM: 1px; FONT: 11px tahoma; BORDER-LEFT: #d8d8d8 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #d8d8d8 1px solid
}
.tdtable {
	BORDER-RIGHT: #d8d8d8 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #d8d8d8 1px solid; PADDING-LEFT: 3px; BACKGROUND: #fafafa; PADDING-BOTTOM: 1px; FONT: 11px tahoma; BORDER-LEFT: #d8d8d8 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #d8d8d8 1px solid
}
.tdtable2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #fef5f0; PADDING-BOTTOM: 1px; COLOR: #f66013; LINE-HEIGHT: normal; PADDING-TOP: 1px; BORDER-BOTTOM: #e5e5e5 2px dotted; FONT-STYLE: normal; HEIGHT: 44px; FONT-VARIANT: normal
}
.cadcli {
	BORDER-RIGHT: #d8d8d8 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #fafafa; PADDING-BOTTOM: 1px; FONT: 11px arial; PADDING-TOP: 1px; BORDER-BOTTOM: #d8d8d8 1px solid
}
.fotoborda {
	BORDER-RIGHT: #d8d8d8 1px solid; BORDER-TOP: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; BORDER-BOTTOM: #d8d8d8 1px solid
}
.titenquetep {
	COLOR: #848284
}
.menucima {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: normal 10px tahoma; COLOR: #333333; PADDING-TOP: 3px
}
.menucimaover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: bold 10px tahoma; CURSOR: pointer; COLOR: #000000; PADDING-TOP: 3px
}
.calendario {
	PADDING-RIGHT: 3px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/jg_tit1.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}.calendario2 {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 3px; BACKGROUND: #fafafa; PADDING-BOTTOM: 1px; FONT: bold 16px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #aaaaaa 1px solid; COLOR: #CCCCCC; PADDING-TOP: 1px; BORDER-BOTTOM: #aaaaaa 1px solid; TEXT-ALIGN: center
}
.negativo {
	color: #FF0000;
}
.negativoB {
	color: #FF0000;
	font-weight: bold;

}
textomenor {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
}

/* Menu interno */
#mnInt .mn-n1, #mnInt .mn-n1-on, #mnInt .mn-n2, #mnInt .mn-n2-lk, #mnInt .mn-n2-lk-on, #mnInt .mn-n3-lk, #mnInt .mn-n3-lk-on {font-family:verdana; font-size:10px}
#mnInt .mn-n1, #mnInt .mn-n1-on {cursor: pointer; margin: 0 0 1 0;}

#mnInt .mn-n1 {background-color:#FFFFFF; color: #5C7300; padding: 2 2 2 2; font-weight: bold; border-bottom: 1px solid E6E6E6}
#mnInt .mn-n1-on {background-color:#FFFFFF; color: #5C7300; padding: 2 2 2 2; font-weight: bold; border-bottom: 1px solid E6E6E6}

#mnInt .mn-n2 {background-color:#FFFFFF; padding: 2 2 2 2; border-bottom: 1px solid E6E6E6; margin: 0 0 0 13; cursor: pointer}
#mnInt .mn-n2-lk {color: #5C7300}
#mnInt .mn-n2-lk-on {color: #000000}

#mnInt .mn-n3 {background-color: #FFFFFF; margin: 0 0 0 23; border-bottom: 1px solid E6E6E6; cursor: pointer}
#mnInt .mn-n3-lk {color: #7C7C7C; padding: 1 1 1 8}
#mnInt .mn-n3-lk-on {color: #7C7C7C; background-color: #F4F5ED; font-weight: bold; padding: 1 1 1 8}

#mnInt .mn-n4 {background-color: #FFFFFF; margin: 0 0 0 36; border-bottom: 1px solid E6E6E6; cursor: pointer}
#mnInt .mn-n4-lk {color: #7C7C7C; padding: 1 1 1 8}
#mnInt .mn-n4-lk-on {color: #7C7C7C; background-color: #F4F5ED; font-weight: bold; padding: 1 1 1 8}

.conteudo {padding: 24 2 0 2}
